.root {
  background-color: var(--color-switch);
  border-radius: var(--radius-full);
  border: 1px solid var(--border-01);
  height: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 42px;
}

.root[data-state='checked'] {
  background-color: var(--color-success);
}

.root:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.thumb {
  background-color: var(--color-white);
  border-radius: var(--radius-full);
  display: block;
  height: 21px;
  transform: translateX(1px);
  transition: transform var(--duration-normal) var(--ease-default);
  width: 21px;
  will-change: transform;
}

.thumb[data-state='checked'] {
  transform: translateX(18px);
}
