.trigger {
  -moz-user-select: none;
  -webkit-user-select: none;
  align-items: center;
  background-color: transparent;
  border-radius: var(--radius-full);
  border: 0;
  cursor: pointer;
  display: inline-flex;
  font-size: var(--font-size-02);
  font-weight: var(--font-weight-medium);
  gap: var(--space-02);
  height: var(--height-m);
  padding: 0 var(--space-03);
  text-decoration: none;
  transition:
    color var(--duration-fast) var(--ease-default),
    background var(--duration-fast) var(--ease-default),
    border-color var(--duration-fast) var(--ease-default);
  user-select: none;
  width: fit-content;
}

.trigger:hover:not(:disabled) {
  background: var(--color-hover);
}

.content {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  background-color: var(--color-glass);
  border-radius: var(--radius-03);
  border: 1px solid var(--border-01);
  box-shadow: var(--shadow-m);
  max-width: 240px;
  min-width: 160px;
  padding: var(--space-01);
  transform-origin: var(--menu-transform-origin);
  will-change: transform, opacity;
  z-index: var(--z-dropdown);
}

.label {
  color: var(--foreground-02);
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
