@keyframes slideDown {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}

.content {
  overflow: hidden;
}

.content[data-state='open'] {
  animation: slideDown var(--duration-normal) var(--ease-default);
}

.content[data-state='closed'] {
  animation: slideUp var(--duration-normal) var(--ease-default);
}
